<.sidebar>
  <.brand title="Lume Example" logo="/images/logo.svg" />
  <.nav_items
    items={[
      %{
        label: "Home",
        nav_item: :home,
        path: ~p"/",
        icon: "hero-home"
      }
    ]}
    current_item={:home}
  />
</.sidebar>
<main class="flex flex-1 flex-col lg:min-w-0 lg:pl-72">
  <.navbar></.navbar>
  <div class="px-4 sm:px-6 lg:px-8 py-8">
    <.flash_group flash={@flash} />
    {@inner_content}
  </div>
</main>
